<!-- ページ移動前のメッセージ -->
<script>
  alert("Hello World");
</script>
<!-- -->

<div class="container">
  
  <h1>Main#index</h1>
  <!-- p>Find me in app/views/main/index.html.erb</p -->
  
  <div class="row m-5">
    <div class="col">
      <div class="bg-secondary">
        <h1 class="text-center text-white">menu1</h1>
      </div>
    </div>
  
    <div class="col">
      <div class="bg-secondary">
        <h1 class="text-center text-white">menu2</h1>
      </div>
    </div>
      
    <!--div class="col">
      <div class="bg-secondary">
        <h1 class="text-center text-white">menu3</h1>
      </div>
    </div-->
  </div>
  
</div>
