<div class="container">
  <div class="bg-primary">
    <h1 class="text-center text-white">A</h1>
  </div>
  
  <div class="bg-secondary">
    <h1 class="text-center text-white">B</h1>
  </div>

  <div class="bg-success">
    <h1 class="text-center text-white">C</h1>
  </div>
    
  <div class="bg-danger">
    <h1 class="text-center text-white">D</h1>
  </div>
  
  <div class="bg-warning">
    <h1 class="text-center text-white">E</h1>
  </div>
</div>
