<div class="container">

  
  <div class="row B m-5">
    <div class="col">
      <div class="bg-secondary">
        <h1 class="text-center text-white">B</h1>
      </div>
    </div>
  
    <div class="col">
      <div class="bg-secondary">
        <h1 class="text-center text-white"></h1>
      </div>
    </div>
      
    <div class="col">
      <div class="bg-secondary">
        <h1 class="text-center text-white">B</h1>
      </div>
    </div>
  </div>
  
  <div class="row C m-5">
    <div class="col">
      <div class="bg-success">
        <h1 class="text-center text-white">C</h1>
      </div>
    </div>
    
    <div class="col">
      <div class="bg-success">
        <h1 class="text-center text-white"></h1>
      </div>
    </div>
    
    <div class="col">
      <div class="bg-success">
        <h1 class="text-center text-white">C</h1>
      </div>
    </div>
    
    <div class="col">
      <div class="bg-success">
        <h1 class="text-center text-white">TESTTEST</h1>
      </div>
    </div>
  </div>
</div>
