<div class="container">
  <div class="row">
    <%= link_to "移動", practice_show_path, class: "btn btn-outline-dark btn-lg btn-block" %>
  </div>
  <div class="row A">
    <div class="col">
      <div class="bg-primary">
        <h1 class="text-center text-white">A</h1>
      </div>
    </div>
      
    <div class="col">
      <a href="" class="btn circle circle-c shadow">
        <h1 class="text-center">A</h1>
      </a>
    </div>
    
    <div class="col">
      <a href="" class="btn gradient">
        <h1 class="text-center">A</h1>
      </a>
    </div>
  </div>
  
  <div class="row B">
    <div class="col">
      <div class="bg-secondary">
        <h1 class="text-center text-white">B</h1>
      </div>
    </div>
  
    <div class="col">
      <div class="bg-secondary">
        <h1 class="text-center text-white">B</h1>
      </div>
    </div>
      
    <div class="col">
      <div class="bg-secondary">
        <h1 class="text-center text-white">B</h1>
      </div>
    </div>
  </div>
  
  <div class="row C">
    <div class="col">
      <div class="bg-success">
        <h1 class="text-center text-white">C</h1>
      </div>
    </div>
    
    <div class="col">
      <div class="bg-success">
        <h1 class="text-center text-white">C</h1>
      </div>
    </div>
    
    <div class="col">
      <div class="bg-success">
        <h1 class="text-center text-white">C</h1>
      </div>
    </div>
    
    <div class="col">
      <div class="bg-success">
        <h1 class="text-center text-white">C</h1>
      </div>
    </div>
  </div>
</div>
