<h1 class="text-center">Show</h1>
  <div class="row">
    <div class="row">
      <a href="" class="btn gradient">
        <h1 class="text-center">A</h1>
      </a>
    </div>
    
    <div class="row">
      <a href="" class="btn circle circle-c shadow">
        <h1 class="text-center">A</h1>
      </a>
    </div>
  </div>