<h1 class="text-center">Show</h1>
  <div class="text-center">
    <div class="col mt-5">
      <a href="" class="btn circle circle-c shadow">
        <h1 class="text-center">A</h1>
      </a>
    </div>
    
    <div class="col mt-5">
      <a href="" class="btn gradient">
        <h1 class="text-center">A</h1>
      </a>
    </div>
  </div>