<div class="container">
  <div class="row">
    <a href="" class="btn circle shadow">
      <hi class="text-center">A</h1>
    </a>
  </div>
  
  <div class="row">
    <div>
      <a href="" class="btn circle shadow">
        <hi class="text-center">A</h1>
      </a>
    </div>
    
    <div class="ml-5">
      <a href="" class="btn btn-border">
        <hi class="text-center">A</h1>
      </a>
    </div>
    
    <div class="ml-5">
      <a href="" class="btn btn-border">
        <hi class="text-center">A</h1>
      </a>
    </div>
  </div>
  
  <div class="dropholder">
    <p>Select</p>
    <div class="dropdown">
      <p>選択肢表示</p>
    </div>
    <ul class="menu">
      <li>選択１</li>
      <li>選択２</li>
      <li>選択３</li>
  </div>
</div>
