<h1>Show</h1>
  <div>
    <div class="col">
      <a href="" class="btn circle circle-c shadow">
        <h1 class="text-center">A</h1>
      </a>
    </div>
    
    <div class="col">
      <a href="" class="btn gradient">
        <h1 class="text-center">A</h1>
      </a>
    </div>
    
    <div class="row B">
      <div class="col">
        <div class="bg-secondary">
          <h1 class="text-center text-white">B</h1>
        </div>
      </div>
    
      <div class="col">
        <div class="bg-secondary">
          <h1 class="text-center text-white">B</h1>
        </div>
      </div>
        
      <div class="col">
        <div class="bg-secondary">
          <h1 class="text-center text-white">B</h1>
        </div>
      </div>
    </div>
  </div>